* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("pictures/drem.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family:fantasy;
}

.overlay {
    min-height: 100vh;
    padding-top: 100px;
    text-align: center;
}


.title {
    color: white;
    font-size: 80px;
    letter-spacing: 6px;
    margin-bottom: 100px;
    text-shadow: 
        0 0 15px rgba(255,255,255,0.9),
        0 0 30px rgba(255,255,255,0.6);
}

.characters {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 40px;
}

.character {
    width: 170px;
    transition: 0.4s ease;
    cursor: pointer;
}

.character:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 0 20px rgba(255,255,255,0.8));
}